# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode

# Typescript build result
dist

.env
.68c7949d105897a96f12a0123668bb1cbfc09d68-audit.json
.871160d96fce9b8907484432cb323693411a19b1-audit.json
